* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  text-align: center;
  /* background-color: #a1a52a; */
  font-family: "Montserrat";
  font-weight: 200;
}

a {
  margin: 10px 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
  border-bottom: 2px #d4d4d4 solid;
  box-shadow: 0 0 2px 4px #001e53;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

li {
  float: right;
}

li a {
  display: block;
  padding: 20px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

li:hover {
  background-color: #e7d8d3;
}

@media screen and (min-width: 480px) {
  ul li a {
    text-align: center;
    display: inline-block;
    /* float: none; */
  }
}

.flex-gallery {
  display: flex;
  flex-flow: row wrap;
}

p {
  font-size: 1.2em;
  text-align: justify;
  color: #ffffff;
  line-height: 2;
}

h1 {
  /* font-size: 2em; */
  color: aliceblue;
}

img {
  width: 100%;
  margin: 0 auto;
}

.content {
  width: 80%;
  display: flex;
  margin: 30px auto 30px auto;
  text-align: left;
}

.main-container {
  /* background-color: #0d9df7; */
  margin: 0 auto;
  top: 0px;
  /* position: relative; */
  padding-top: 59px;
  /* height: 80dvh;
  height: 90svh; */
  width: 100%;
}

.main-container img {
  -webkit-box-shadow: 0 1px 4px #0000004d, 0 0 40px #0000001a inset;
  -moz-box-shadow: 0 1px 4px #0000004d, 0 0 40px #0000001a inset;
  box-shadow: 0 1px 4px #0000004d, 0 0 40px #0000001a inset;
}

.mid-container {
  background: url("/img/photography.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /* height: 800px; */
  /* background-color: #0353df; */
  /* position: relative; */
  width: 100%;
  padding: 20px 0 20px;
}

.about {
  /* text-align: left; */
  font-family: "Averia Serif Libre", cursive;
  font-size: 3rem;
  font-weight: 400;
}

.mid1-container {
  background-color: #ffffff;
  /* position: relative; */
  padding: 20px 0 80px;
}

.mid1-container p {
  position: absolute;
  padding: 25px;
  color: #001e53;
}

.mid1-container h1 {
  font-family: "Averia Serif Libre", cursive;
  font-size: 3rem;
  font-weight: 900;
  color: #001e53;
  padding-bottom: 30px;
}

.mid1-container img {
  width: 20%;
  height: 50%;
  opacity: 0.5;
}

.mid1-container img:hover {
  transition: 0.5s;
  opacity: 1;
}

.mid2-container {
  /* position: relative; */
  padding: 20px 0 20px;
}

.mid2-container h1 {
  font-family: "Averia Serif Libre", cursive;
  font-size: 3rem;
  font-weight: 900;
  padding-top: 25px;
}

.mid2-container p {
  margin: 20px;
}

.ch1 {
  color: #d4d4d4;
}

.mid2-container img {
  margin: 20px;
  width: 40%;
  border-radius: 5px 5px 5px 5px;
  -webkit-box-shadow: 0 1px 4px #0000004d, 0 0 40px #0000001a inset;
  -moz-box-shadow: 0 1px 4px #0000004d, 0 0 40px #0000001a inset;
  box-shadow: 0 1px 4px #0000004d, 0 0 40px #0000001a inset;
}

.mid2-container img:hover {
  border: 1px solid #ffffff;
}

.cportrait {
  text-decoration: none;
}

.cportrait:hover {
  text-decoration: underline;
}

.sportrait {
  text-decoration: none;
}

.sportrait:hover {
  text-decoration: underline;
}

.mportraits {
  text-decoration: none;
}

.mportraits:hover {
  text-decoration: underline;
}

.pphotography {
  text-decoration: none;
}

.pphotography:hover {
  text-decoration: underline;
}

.pediting {
  text-decoration: none;
}

.pediting:hover {
  text-decoration: underline;
}

.retouching {
  text-decoration: none;
}

.retouching:hover {
  text-decoration: underline;
}

.fphotography {
  text-decoration: none;
}

.fphotography:hover {
  text-decoration: underline;
}

.vediting {
  text-decoration: none;
}

.vediting:hover {
  text-decoration: underline;
}

.mid3-container {
  /* background-color: #001e53; */
  /* position: relative; */
  padding: 20px 0 20px;
}

/* .mid3-container h1 {
  color: #001e53;
} */

.content h1 {
  color: #001e53;
}

.mid3-container p {
  padding: 20px;
  color: #001e53;
}

.bot-container {
  z-index: -1;
  background-color: #022430;
  padding: 40px 20px 20px 20px;
}

.be {
  color: #003797;
}
.be:hover {
  color: #ff0000;
}

.alink {
  color: white;
  /* font-family: "Noto Sans", sans-serif; */
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

.alink:hover {
  color: #0fa546;
}

.copy {
  font-family: "Noto Sans", sans-serif;
  font-size: 1em;
  text-align: center;
}

.fst {
  font-weight: 800;
}

.c1 {
  width: 100%;
  /* padding: 5px auto 5px; */
  margin: 20px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.c2 {
  width: 100%;
  height: 100%;
  padding: 5px auto 5px;
  margin: 50px;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.ch1 {
  color: #d4d4d4;
}

.clients {
  /* position: relative; */
  margin: 0 auto;
  width: 80%;
  padding: 25px;
}

.clients h1 {
  font-family: "Averia Serif Libre", cursive;
  font-size: 3rem;
  font-weight: 900;
  color: #001e53;
}

.contact-h1 {
  color: #ffffff;
  font-family: "Averia Serif Libre", cursive;
  font-size: 3rem;
  font-weight: 900;
}

/* Go To Top  */

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50px 50px 50px 0px;
}

#myBtn:hover {
  background-color: #555;
}
/*  */

/* slider */
.slider img {
  width: 100px;
  height: 100px;
  object-position: center center;
  /* object-fit: none; */
  padding-bottom: 35px;
  animation: scroll 20s linear infinite;
}

.slide-track {
  width: 100%;
  display: flex;
  gap: 2em;
  overflow: hidden;
}

.slider {
  margin-top: 70px;
  /* background-color: whitesmoke; */
  /* padding: 8em 2em; */
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translatex(-1000%);
  }
}
/* slider */

.gradient-background {
  background: linear-gradient(300deg, #00bfff, #001e53, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.c--anim-btn span {
  text-decoration: none;
  text-align: center;
  display: block;
}

.c--anim-btn,
.c-anim-btn {
  transition: 0.3s;
}

.c--anim-btn {
  height: 64px;
  font: normal normal 700 1.2em/4em Arial, sans-serif;
  overflow: hidden;
  width: 200px;
}

.c-anim-btn {
  margin-top: 0em;
}

.c--anim-btn:hover .c-anim-btn {
  margin-top: -4em;
}
